// bootstrap
@import '~bootstrap/scss/bootstrap.scss';
// google font ROBOTO
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// ***** commons *****

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.ms_close {
    display: none;
}