$mainColor: #3788ff;
$sectionColor: #f3f5f9;
$textColor: #606e8c;
@mixin mainColorGradient{
    background: rgb(0,72,197);
    background: linear-gradient(180deg, rgba(0,72,197,1) 0%, rgba(0,30,153,1) 100%);
} 